.compose-container {
    background-color: #617258;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: #333; 
}

.form-control {
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.form-control:focus {
    border-color: #1a73e8; 
    box-shadow: 0 0 5px rgba(26, 115, 232, 0.5); 
}

.textarea-control {
    resize: none; 
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container button {
    width: 100px;
}

.button-container button[type="submit"] {
    background-color: #1a73e8; 
    color: #fff;
    border: none;
}

.button-container button[type="submit"]:hover {
    background-color: #0f5ac5; 
}

.button-container button[type="cancel"] {
    background-color: #ccc; 
    color: #bb4f4f; 
}

.button-container button[type="cancel"]:hover {
    background-color: #bbb;
}