.emailList {
  flex: 1;
  padding: 10px;
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  background-color: #41473a4d;
  height:100rem;
 
  
 
  
}

.emailList li {
  list-style: none;
}

.emailItem {
  margin: 16px;
  cursor: pointer;
  font-weight: bold;
}

.emailCard {
  background-color: #977f7f;
  height: 4rem;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s ease;
}

.emailCard:hover {
  background-color: #d36b3f;
}

.emailBody {
  display: flex;
  justify-content: space-between;
 
}

.emailHeader {
  display: flex;
  align-items: center;
}

.emailTitle {
  position: relative;
  top: 12px;
  
  
}

.deleteButton {
  position: absolute;
  color: red;
  top: 32px;
  right: 5px;
  
}
